@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Lateef&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/presentation.css");

body {
	font-family: 'Lateef', cursive;
}

h3 {
	flex-grow 1;
	padding-left: 15px;
	font-size: 18px;
	color: white;
}

h2 {
	text-shadow: 0.1em 0.1em 0.2em grey;
	color: #463333;
	text-align: center;
	font-size: 40px;
}

h1 {
	font-family: 'Fredericka the Great', cursive;
	text-shadow: 0.1em 0.1em 0.2em black;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-size: 45px;
}

h4 {
	flex-grow 1;
	font-size: 50px;
	color: #463333;
}

h5 {
	font-size: 20px;
	color: #463333;
	text-align: center;

}

a {
  color:  grey;
  text-decoration: none;
  transition: color 1s ease;
  size: 30px;
}

a:hover {
  color: #608B86;
  text-decoration: none;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 30px;
}

#follow {
	text-align: center;
}

.list-inline i {
	font-size: 80px;
	text-align: center;
}
